@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: #141414;
  padding: 0;
  margin: 0;
}

body,
html {
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bottom-navigation-gradient {
  background: linear-gradient(
    136.77deg,
    #021b8c 6.32%,
    #01052d 49.86%,
    #021b8c 93.4%
  );
}
